{% extends 'main/base.html' %}

{% load static %}

{% block navbar %}
	<li><a href="{% url 'main:home' %}">Home</a></li>
	<li><a href="{% url 'main:about' %}">About</a></li>
	<li class="active"><a href="{% url 'main:services' %}">Services</a></li>
	<li><a href="{% url 'main:price' %}">Price</a></li>
	<li><a href="{% url 'main:projects' %}">Projects</a></li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="{% url 'main:right-sidebar' %}">Right Sidebar</a></li>
			<li><a href="#">Dummy Link1</a></li>
			<li><a href="#">Dummy Link2</a></li>
			<li><a href="#">Dummy Link3</a></li>
		</ul>
	</li>
	<li><a href="{% url 'main:contact' %}">Contact</a></li>
{% endblock navbar%}

{% block content %}
	<div id="courses">
		<section class="container">
			<h3>Constructions</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-cogs fa-2x"></i>
						<div class="text">
							<h3>Responsive Design</h3>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-leaf fa-2x"></i>
						<div class="text">
							<h3>HTML5/CSS3</h3>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-tachometer fa-2x"></i>
						<div class="text">
							<h3>Web Designing</h3>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-eye fa-2x"></i>
						<div class="text">
							<h3>Web App Dev</h3>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-quote-right fa-2x"></i>
						<div class="text">
							<h3>Data Base</h3>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="featured-box">
						<i class="fa fa-arrows fa-2x"></i>
						<div class="text">
							<h3>Mobile App Dev</h3>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
	<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article content -->
			<section class="col-sm-12 maincontent">
				<h3>Responsive Website</h3>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
				<h3>Bootstrap</h3>
				<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</section>
		</div>
		<div class="row offs1">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail thumbnail4">
                            <img src="{% static 'assets/images/news2.jpg' %}" alt="">

                            <div class="caption">
                                <h4>
                                    <a href="#">
                                        Aliquam eu aliquet quam
                                    </a>
                                </h4>

                                <p>
                                    Souvlaki ignitus carborundum e pluribus unumfacto lingo est igpay atinlay arquee
                                    selectus. non provisio incongruous feline nolo contendre. Gratuitous octopus niacin,
                                    sodium glutimate. Quote meon
                                </p>
                                <a href="#" data-title="Read More" class="btn-link"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail thumbnail4">
                            <img src="{% static 'assets/images/news3.jpg' %}" alt="">

                            <div class="caption">
                                <h4>
                                    <a href="#">
                                        Factorial non deposit
                                    </a>
                                </h4>

                                <p>
                                    Enumfacto lingo est igpay atinlay arquee selectus.
                                    non provisio incongruous feline nolo contendre. Grat uitous octopus niacin, sodium
                                    glutimate. Quote meon an estimate et non interruptus stad
                                </p>
                                <a href="#" data-title="Read More" class="btn-link"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail thumbnail4">
                            <img src="{% static 'assets/images/news4.jpg' %}" alt="">

                            <div class="caption">
                                <h4>
                                    <a href="#">
                                        Deposit quid proquo
                                    </a>
                                </h4>

                                <p>
                                    Arquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus
                                    niacin, sodium gluti mate. Quote meon an estimate et non interruptus stad ium. Sic
                                    tempus fugit esperanto
                                </p>
                                <a href="#" data-title="Read More" class="btn-link"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>

                </div>
	</div>
	<!-- /container -->
{% endblock content %}
